#main {
  margin-top: 3rem;
}

.category {
  h2 {
    font-weight: 700;
  }
  .categories {
    background-color: $shade-white;
    padding: 2rem 1rem;
    border-radius: 10px;

    & > button:not(:first-child) {
      margin-top: 0.8rem;
    }

    .cat_btn {
      display: block;
      background: transparent;
      border: none;
      transition: 0.6s ease-in;
      outline: none;
      color: $shade-grey;
      &:hover {
        color: $igeeks;
      }
    }
  }

  .categories-mobile {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .categories {
    display: none !important;
  }

  .categories-mobile {
    display: block !important;
  }
}
.header{
  // background: url();
  background: 
  /* top, transparent red, faked with gradient */ 
  linear-gradient(
    rgba(2, 0, 0, 0.45), 
    rgba(2, 0, 0, 0.45)
  ),
  /* bottom, image */
  url(../../img/fuel-tanks-grounding-requirements.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  width: 100%;
  margin-top: -46rem;
}
.ff_text{
  text-align: center;
    padding-top: 16rem;
    font-weight: 1000;
    color: white;
    font-size: 6rem;
}

.header-text{

  font-size: 60px;
  color: white;
  text-align: center;
  font-weight: 400;
  display: block;
  margin: 10rem 1rem 1rem 1rem;
  letter-spacing: 35px;
  animation-name: moveinleft;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  // animation-delay: 3ms;
}
@keyframes moveinleft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }

  80%{
      transform: translateX(10px);

  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveinright{
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }

  80%{
      transform: translateY(10px);

  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}


.header-text-sub{

  display: block
;
font-size: 20px;
font-weight: 400px;
letter-spacing: 17.4px;
color: white;
text-align: center;
animation-name: moveinright;

animation-duration: 1s;

animation-timing-function: ease-in;
}
.inner-color{
  color: $igeeks;
}

@media screen and (max-width: 600px) {
  .header-text{
    font-size: 44px;
    color: white;
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 10rem 1rem 1rem 0rem;
    letter-spacing: 8px;
    animation-name: moveinleft;
    animation-duration: 3s;
  }
}

@media screen and (max-width: 400px) {
  .header-text{
    font-size: 32px;
    color: white;
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 10rem 1rem 1rem 0rem;
    letter-spacing: 8px;
    animation-name: moveinleft;
    animation-duration: 3s;
  }
}

.wrapper{
  text-align: center;
  margin: 5rem 1rem 1rem 1rem;
}

.headerbut{
  border: solid 1px;
  background: transparent;
  padding: 1rem 4rem 1rem 4rem;
  color: white;
  border-radius: 2rem;
  // transform: translate(-50%, -50%);
  transition: all .35s;
  text-align: center;


}
.headerbut:hover{

  background-color: $igeeks;
  border: none;
  outline: none;
  color: white;


}

.headerbut:focus{

  background-color: $igeeks;
  border: none;
  outline: none;
  color: white;


}

